@font-face {
  font-family: titleFont;
  src: url("../public/fonts/JuicyGossipRegular-2OBK3.ttf");
}
@font-face {
  font-family: bodyFont;
  src: url("../public/fonts/FrostbiteBossFight-dL0Z.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: bodyFont;
  background-color: #cac2b5;
  display: flex;
  justify-content: center;
  // color: #a43317;
}

#signUp,
#login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avoidTaskbar {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#chatBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  // background-color: rgb(244, 160, 160);
}

#chatDisplay {
  display: flex;
  height: 90%;
  max-height: 90%;
  flex-direction: column;
  justify-content: flex-end;
  width: 95%;
  margin: 1em;
  overflow-y: scroll;
}

#textInput {
  display: flex;
  height: 10%;
  justify-content: center;
  width: 95%;
  margin: 1em;
}

#chatText {
  display: flex;
  width: 100%;
  justify-content: center;
}

#gamePage {
  display: flex;
  flex-direction: row;
}

.flex-col-scroll {
  flex-grow: 1;
  min-height: 100%;
}
.even {
  background: #a09dc7;
}
.odd {
  background-color: #d0b3c5;
}
