body {
  background-color: pink;
  display: flex;
  justify-content: center;
}

#signUp,
#login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avoidTaskbar {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#gamePage {
  display: flex;
  flex-direction: row;
}
