html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(142, 89, 98);
  display: flex;
  justify-content: center;
}

#signUp,
#login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avoidTaskbar {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#chatBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  background-color: aquamarine;
}

#chatDisplay {
  display: flex;
  height: 90%;
  max-height: 90%;
  flex-direction: column;
  justify-content: flex-end;
  width: 95%;
  margin: 1em;
  overflow-y: scroll;
}

#textInput {
  display: flex;
  height: 10%;
  justify-content: center;
  width: 95%;
  margin: 1em;
}

#chatText {
  display: flex;
  width: 100%;
  justify-content: center;
}

#gamePage {
  display: flex;
  flex-direction: row;
}

.flex-col-scroll {
  flex-grow: 1;
  min-height: 100%;
}
